[user]
	name = marvin.strangfeld
	email = marvin@strangfeld.io
[branch]
	autosetuprebase = always
[push]
	default = upstream
[remote "origin"]
	prune = true
[core]
	editor = vim
[diff]
	tool = vimdiff

[includeIf "gitdir:~/ox/"]
	path = ~/ox/.gitconfig
