[user]
	name = Marvin Strangfeld
	email = marvin@strangfeld.io
[branch]
	autosetuprebase = always
[push]
	default = upstream
[remote "origin"]
	prune = true
[core]
	editor = vim
[diff]
	tool = vimdiff

[includeIf "gitdir:~/ox/"]
	path = ~/ox/.gitconfig

[includeIf "gitdir:~/rwth/"]
	path = ~/rwth/.gitconfig

[includeIf "gitdir:~/strangfeld-io/"]
	path = ~/strangfeld-io/.gitconfig
